.config {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  overflow: hidden;
  .cog-title {
    margin-top: 10px;
    span {
      font-size: 30px;
      margin-left: 15px;
    }
  }

  .homeIcon {
    cursor: pointer;
    position: fixed;
    right: 20px;
    top: 0px;
    color: black;
    font-size: 26px;
  }

  .homeBtn {
    margin-left: 30px;
    margin-top: 40px;
  }

  .cog-form {
    margin-top: 30px;
    margin-left: 30px;
    width: 300px;
    
    .login {
      padding-bottom: 10px;
      margin-bottom: 20px;
      border-bottom: 1px solid #bbb;
      label{
        &:after {
          content: "*";
          margin-left: 1px;
          color: red;
        }
      }
    }

    .checkbox {
      float: left;
    }
    
    .expandSC {
      margin-left: 10px;
      vertical-align: bottom;
      font-size: 20px;
      cursor: pointer;
    }

    .btnContainer {
      width: 110px;
      margin-left: auto;
      clear: both;
    }
  }
  .tips {
    clear: both;
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .globalShortcutItem {

    margin-bottom: 10px;
    .shortcutText {
      margin-left: 10px;
      font-size: 10px;
    }

    .shortcutAccelerator {
      font-size: 12px;
      display: inline-block;
      text-align: center;
      width: 180px;
      border-radius: 5px;
      background-color: #ccc;
    }
    
  }
}
