.musicPlayer {
  overflow: hidden;
  margin-top: 10px;

  .toggleOn span {
    color: #66FFFF;
  }

  .playerControllers {
    float: left;
    margin-left: 20px;
    margin-right: 62px;

    .playerController {
      vertical-align: middle;
      padding-left: 10px;
      &:active {
        color: #66FFFF;
      }
    }

    .prev {
      margin-left: 20px;
      font-size: 32px;
    }

    .next {
      margin-right: 20px;
      font-size: 32px;
    }

    .playPause {
      margin: 0 10px;
      font-size: 60px;
    }

    .shuffle {
      font-size: 22px;
    }

    .loop {
      font-size: 22px;
    }

    .volume {
      margin-left: 50px;
    }
  }

  .songDisplay {
    overflow: hidden;
    background-color: #FFFFF0;
    width: 800px;
    position: relative;
    border-radius: 8px;

    .coverart {
      float: left;
      margin-right: 20px;
    }

    .coverart-mini {
      width: 100px;
      height: 100px;
    }

    .timeSlider {
      position: absolute;
      bottom: 0px;
      left: 120px;

      span {
        margin-right: 20px;
        vertical-align: middle;
      }
      .duration {
        position: absolute;
        left: 630px;
      }
    }

    input[type="range"] {
      -webkit-appearance: none;
      appearance: none;
      background: #EEE;
      border: 1px solid #EEE;
      box-shadow: -1px -1px 1px rgba(000,000,000,0.3), 1px 1px 1px rgba(255,255,255, 1);
      height: 6px;
      width: 600px;
      bottom: 20px;
      position:absolute;
      left:32px;
      border-radius: 3px;
      &:focus {
        outline:none;
      }
      &::-webkit-slider-thumb{
          -webkit-appearance: none;
          appearance: none;
          background: #BBB;
          width: 16px;
          height: 16px;
          border-radius:20px;
          cursor:pointer;
          -webkit-box-sizing:border-box;
          box-sizing:border-box;
          margin-bottom: 2px;
      }
    }

    .songinfo {
      margin-top: 10px;
    }

  }
}
