.queue {
  width: 100%;
  box-sizing:border-box;

  .queueTitle {
    text-align: center;
  }

  .queueControllerWrapper {
    width: 100px; 
    margin-left: auto;
    margin-bottom: 20px;
  }

  .queueController {
    margin-left: 8px;
  }

  table {
    table-layout: fixed;
    width: 100%;

    td.queueIcon {
      width: 5px;
    }

    td.queueTitle {
      width: 260px;
    }

    td.queueDuration {
      width: 100px;
    }

  }
}

